{% extends 'projects/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row w-100" style="margin-top: -40px;">
            <div class="col-12 col-md-8 col-lg-6 col-xl-4 m-auto p-5 shadow-lg rounded bg-dark">
                <h4 class="text-center text-white">Sign In</h4>
                <form action="" method="POST" class="align-self-center text-white">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex flex-row justify-content-between align-items-center mt-3">
                        <button class="btn btn-primary">Login</button>
                        <a href="{% url 'register' %}">Or Register</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
{% endblock %}
