{% extends "projects/base.html"%}

{% block title%}Django Project Tracker!{% endblock %}

{% block content %}
<div class="container h-100">
    {% if message %} 
        <div class="d-flex justify-content-center align-items-center h-75 w-100">
            <div class="col my-auto text-center">
                <h3 class="pb-2">No Projects Yet!</h3>
                <p>Add a project to get started</p>
                <div class="ms-auto">
                    <a href="{% url 'add-project' %}"><button type="button" class="btn btn-primary">Add Project</button></a>
                </div>
            </div>
        </div>
    {% else %} 
    <div class="d-flex align-items-center">
        <h2 class="py-3">All Projects</h2>
        <div class="ms-auto">
            <a href="{% url 'add-project' %}"><button type="button" class="btn btn-primary">Add Project</button></a>
            <a href="{% url 'add-task' %}"><button type="button" class="btn btn-success">Add Task</button></a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
         {% for item in projects %} 
         <div class="col">
                <div class="card shadow d-flex h-100">
                    <img src="{{ item.project_image }}" class="card-img-top" alt="..."
                        onerror="this.onerror=null;this.src='{{ backup }}';" style="height:200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title|capfirst }}</h5>
                        <p class="card-text"><small class="text-muted">{{ item.date_created }}</small></p>
                        <a href="{% url 'project-detail' item.slug %}" class="btn btn-primary">View Project</a>
                    </div>
                </div>
        </div> 
        {% endfor %} 
    {% endif %}
    </div>
</div>

{% endblock %}